.POPOSDetails {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    width: auto;
    margin: auto;
}

.POPOSDetails .POPOSDetails-info {
    flex: 1;
    text-align: left;
    padding: 0 1em;
}

.POPOSDetails .POPOSDetails-title {
    font-size: 2em;
    margin: 0;
}

.POPOSDetails .POPOSDetails-image {
    flex: 2;
}

.POPOSDetails .POPOSDetails-image img {
    width: 100%;
}

.POPOSDetails .POPOSDetails-hours {
    font-size: 1.5em;
}

/* Mobile */
@media only screen and (max-width: 480px) {
    .POPOSDetails {
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }

    .image {
        width: 100%;
    }
}

@media only screen and (max-width: 960px) {
    .POPOSDetails {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .POPOSDetails-image {
        width: 75%;
    }
}