.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid black;
    margin-bottom: 2em;
    background-color: #A52727;
    color: #f1f1f1;
  }

  .Title-Subtitle {
    color: #595959;
  }

  .navBar, h1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .Title a {
    display: inline-block;
    padding: 0.5em 1em;
    color: #4d4d4d;
    font-weight: bold;
    text-decoration: none;
}

  .Title .nav-link-active {
    color: #f1f1f1;
    border-bottom: 2px solid;
  }