.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid black;
    margin-bottom: 2em;
    background-color: rgb(192, 45, 26);
    color: #fff;
  }

  .Title-Subtitle {
    color: rgba(255, 255, 255, 0.75);
  }

  .navBar, h1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .Title a {
    display: inline-block;
    padding: 0.5em 1em;
    color: rgba(255, 255, 255, 0.835);
    font-weight: bold;
    text-decoration: none;
}

  .Title .nav-link-active {
      color: #fff;
      border-bottom: 2px solid;
  }